/* Переменные*/

:root {
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --title-text-color: #212121;
  --text-color: #757575;
}

body {
  background-color: var(--primary-white-color);

  color: #212121;
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;

}
a {
  text-decoration: none;
}

.list {
  list-style: none;
}

button {
  font-family: 'Roboto';
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

.section {
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Шапка сайта*/

.header {
  display: flex;
  align-items: center;
}

.header-section {
  border-bottom: 1px solid #ECECEC;
}

.main-nav {
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo-link {
  color: #000000;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.accent {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;

  margin-bottom: 32px;
  margin-top: 32px;
}

.site-nav .item+.item {
  margin-left: 50px;
 
}
.site-nav a {
  display: block;

}

.site-nav .link:hover,
.site-nav .link:focus,
.contact .contact-link:hover,
.contact .contact-link:focus {
  color: var(--accent-color);
  cursor: pointer;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-contact {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.contact .item+.item {
  margin-left: 50px;

}

.contact-link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

}

/*Герой*/

.hero {
  background-color: #2f303a;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
color: var(--primary-white-color);
background-color: var(--accent-color);

font-weight: 700;
font-size: 16px;
line-height: 1.8;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

padding: 10px 32px;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
border-radius: 4px;
}

/*Особенности*/

.features {
  padding-top: 94px;
}

.features-list {
  display: flex;
  
}

.features li h3 {
  margin-bottom: 10px;

}

.features li {
  width: 270px;
}

.features-list .item+.item {
  margin-left: 30px;
}

.features-main-title {
  display: none;
}

.features-main-title,
.our-work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.features-description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
  letter-spacing: 0.03em;
}

/*Чем мы занимаемся*/

.our-work-title {
padding-bottom: 50px;
}

.our-work-examples {
  display: flex;
}

.our-work-examples .item+.item {
  margin-left: 30px;
}


/*Наша команда*/

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  padding-bottom: 50px;
}

.our-team-list {
  display: flex;
}

.our-team-list .item+.item {
  margin-left: 30px;
}

.our-team {
  background-color: #f5f4fa;
  padding-top: 94px;
}

.our-team-list > li {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.our-team-name-position {
  margin-top: 30px;
  margin-bottom: 30px;
}

.our-team-name {
  margin-bottom: 10px;

  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.our-team-position {
  text-align: center;

  font-size: 16px;
  line-height: 1.2;
  color: var(--text-color);
}

/*Портфолио*/

.potrtfolio {
  padding-top: 94px;
}

.potrtfolio-main-title {
  display: none;
}

.filtr {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.filtr .item+.item {
  margin-left: 8px;

}

.filtr-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  background: #F5F4FA;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
}

.filtr-button:hover,
.filtr-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current {
  color: var(--accent-color);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 1200px;
}

.projects li {
  margin: 15px;
  width: 370px;
  box-sizing: border-box;
}

.project-card {
  padding: 20px 24px ;
  border: 1px solid #EEEEEE;
  border-top: none;
  
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;

  margin-bottom: 4px;
}

.project-description {
  font-size: 16px;
  line-height: 1.8;
  color: var(--text-color);
}

/*Подвал*/

.footer {
  background-color: #2f303a;

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo-link {
  color: var(--primary-white-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  display: inline-block;
  margin-bottom: 20px;
}
.address{
  width: 231px;
}

.adress-google-map {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.address .item+.item {
margin-top: 9px;
}

.address-contact {
  display: block;
  color: var(--text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

.address-contact:hover,
.address-contact:focus{
  color: var(--accent-color);
}